# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Spyder project settings
.spyderproject
.spyproject

/test_project
directory.db
genesis.json
geth/
keystore/
test_project
*.pyc
.DS_Store

# LaTeX
*.blg
*.fls
*.fds_latexmk
*.log
*.bbl
*.aux
*.tex.bak
*.bib.bak
